<Configuration status="off" schema="Log4J-V2.2.xsd">
    <Properties>
        <Property name="logDir">${env:SIP_HOME}/logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} %-4r [%t] %-5p &lt;%c&gt; - [(%x %M %L)] (%m) %n"/>
        </Console>
        <!-- sip appender -->
        <RollingFile name="DailyRollingFile" fileName="${logDir}/SIP_ALL.log"
                     filePattern="${logDir}/SIP_ALL.log.%d{yyyy-MM-dd}">
            <PatternLayout
                    pattern="****** ##### %t ##### ****** =======&gt; [%p] [%d{yyyy-MM-dd HH:mm:ss}] &lt; %c &gt; [(%x %M %L)] (%m) %n"/>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        </RollingFile>
        <RollingFile name="msg" fileName="${logDir}/msg/SIP_MSG.log"
                     filePattern="${logDir}/msg/SIP_MSG.log.%d{yyyy-MM-dd}">
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout
                    pattern="****** ##### %t ##### ****** =======&gt; [%p] [%d{yyyy-MM-dd HH:mm:ss}] &lt; %c &gt; [(%x %M %L)] (%m) %n"/>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        </RollingFile>
        <RollingFile name="err" fileName="${logDir}/err/SIP_ERR.log"
                     filePattern="${logDir}/err/SIP_ERR.log.%d{yyyy-MM-dd}">
            <PatternLayout
                    pattern="****** ##### %t ##### ****** =======&gt; [%p] [%d{yyyy-MM-dd HH:mm:ss}] &lt; %c &gt; [(%x %M %L)] (%m) %n"/>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>
        <!-- user appender -->
        <RollingFile name="user.all" fileName="${logDir}/SIP_USER_ALL.log"
                     filePattern="${logDir}/SIP_USER_ALL.log.%d{yyyy-MM-dd}">
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout
                    pattern="****** ##### %t ##### ****** =======&gt; [%p] [%d{yyyy-MM-dd HH:mm:ss}] &lt; %c &gt; [(%x %M %L)] (%m) %n"/>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        </RollingFile>
        <RollingFile name="userMsg" fileName="${logDir}/msg/SIP_USER_MSG.log"
                     filePattern="${logDir}/msg/SIP_USER_MSG.log.%d{yyyy-MM-dd}">
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout
                    pattern="****** ##### %t ##### ****** =======&gt; [%p] [%d{yyyy-MM-dd HH:mm:ss}] &lt; %c &gt; [(%x %M %L)] (%m) %n"/>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        </RollingFile>
        <RollingFile name="userErr" fileName="${logDir}/err/SIP_USER_ERR.log"
                     filePattern="${logDir}/msg/SIP_USER_ERR.log.%d{yyyy-MM-dd}">
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout
                    pattern="****** ##### %t ##### ****** =======&gt; [%p] [%d{yyyy-MM-dd HH:mm:ss}] &lt; %c &gt; [(%x %M %L)] (%m) %n"/>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        </RollingFile>
        <!-- deadlockChecker appender -->
        <RollingFile name="deadlockCheckerMsg" fileName="${logDir}/msg/SIP_DEADLOCK_CHECKER_MSG.log"
                     filePattern="${logDir}/msg/SIP_DEADLOCK_CHECKER_MSG.log.%d{yyyy-MM-dd}">
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout
                    pattern="****** ##### %t ##### ****** =======&gt; [%p] [%d{yyyy-MM-dd HH:mm:ss}] &lt; %c &gt; [(%x %M %L)] (%m) %n"/>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        </RollingFile>
        <!-- SQL appender -->
        <RollingFile name="sip.db" fileName="${logDir}/msg/SIP_DB_MSG.log"
                     filePattern="${logDir}/msg/SIP_DB_MSG.log.%d{yyyy-MM-dd}">
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout
                    pattern="****** ##### %t ##### ****** =======&gt; [%p] [%d{yyyy-MM-dd HH:mm:ss}] &lt; %c &gt; [(%x %M %L)] (%m) %n"/>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        </RollingFile>
    </Appenders>
    <!--  -->
    <loggers>
        <!-- ALL LOGGER -->
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="DailyRollingFile"/>
        </root>
        <!-- SIP LOGGER -->
        <logger name="com.rp.sip.SipMsg" level="info" additivity="false">
            <appender-ref ref="msg"/>
            <appender-ref ref="err"/>
        </logger>
        <!-- USER LOGGER -->
        <logger name="com.rp.sip.UserMsg" level="info" additivity="false">
            <appender-ref ref="userMsg"/>
            <appender-ref ref="userErr"/>
        </logger>
        <!-- druid -->
        <logger name="druid.sql.Statement" level="debug" additivity="false">
            <appender-ref ref="sip.db"/>
        </logger>
        <logger name="druid.sql.ResultSet" level="debug" additivity="false">
            <appender-ref ref="sip.db"/>
        </logger>
        <!-- DEADLOCK_CHECKER LOGGER -->
        <logger name="com.rp.sip.deadlockCheckerMsg" level="info" additivity="false">
            <appender-ref ref="deadlockCheckerMsg"/>
        </logger>
    </loggers>
</Configuration>